# Godot-specific folders
.import/
.export/
.godot/

# Exported builds
*.exe
*.apk
*.zip
*.x86_64
*.pck
*.blend
*.glb
*.tscn

# Godot temporary files
*.godot/tmp/*

# OS junk
.DS_Store
Thumbs.db

assets/models
assets/scenes